<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vamsigutha.rememb">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/display_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/display_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContextualActionMode">
        <activity android:name="com.vamsigutha.rememb.NotificationBanner" />
        <activity android:name="com.vamsigutha.rememb.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.vamsigutha.rememb.NotificationService" />
    </application>

</manifest>